apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: databases.sql-server.dotkube.io
spec:
  group: sql-server.dotkube.io
  names:
    kind: Database
    listKind: DatabaseList
    plural: databases
    singular: database
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          status:
            description: Status of the SQL Server database.
            properties:
              state:
                description: The current state of the database.
                type: string
              message:
                description: A message indicating the current status of the database.
                type: string
              lastChecked:
                description: The last time the database status was checked.
                format: date-time
                nullable: true
                type: string
            type: object
          spec:
            description: Spec of the SQL Server database.
            properties:
              instanceName:
                description: The name of the SQLServer or ExternalSQLServer instance where the database will be created.
                type: string
              databaseName:
                description: The name of the database to be created.
                type: string
              databaseReclaimPolicy:
                description: Policy that controls what happens to the physical database when the CR is deleted. Either 'Retain' or 'Delete'. Default 'Retain'.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}