version: "3"

tasks:

  default:
    desc: "List all tasks"
    cmds:
      - task --list-all

  load-images-into-kind:
    desc: "Load images into kind cluster"
    cmds:
      - kind load docker-image ghcr.io/dotkube/sql-server:22-ubuntu --name=kubesqlserver-operator-test
      - kind load docker-image ghcr.io/dotkube/sql-server:22-ubuntu-fts --name=kubesqlserver-operator-test
      - kind load docker-image ghcr.io/dotkube/kubesqlserver-operator/kubesql-controller:latest --name=kubesqlserver-operator-test

  test-locally:
    cmds:
      - kind create cluster --name kubesqlserver-operator-test
      - |
        while [[ $(kubectl get nodes --no-headers | grep -c 'NotReady') -gt 0 ]]; do
          echo "Waiting for nodes to become Ready..."
          sleep 5
        done
        echo "All nodes are Ready!"

      - kubectl wait --for=create namespace/local-path-storage --timeout=30s || true
      - task: load-images-into-kind
      - helm upgrade --install kubesqlserver-operator  . -n kubesql --create-namespace

  test-locally-destroy:
    cmds:
      - kind delete cluster --name kubesqlserver-operator-test

  template-output-to-file:
    cmds:
     - helm template sql-server . --namespace sql-server --create-namespace --include-crds > ./output.yaml
    desc: "Create the Helm chart template for the OperatorTemplate stack."

  template-output-to-file-cleanup:
    cmds:
    - rm ./output.yaml || true
    desc: "Remove the Helm chart template for the OperatorTemplate stack."


  clear-out-chart:
    cmds:
      - rm -rf ./templates/* || true
      - rm -rf ./crds/* || true

  unit-test:
    cmds:
      - helm unittest .