name: Helm Chart Unit Tests

on:
  pull_request:
    paths:
      - 'deploy/chart/kubesqlserver-operator/**'
      - '.github/workflows/helm-tests.yml'

    branches:
      - main
      - master

jobs:
  helm-unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.13.0

      - name: Install helm-unittest plugin
        run: helm plugin install https://github.com/helm-unittest/helm-unittest

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Run Helm tests
        run: task deployment-helm-chart:unit-test

