
name: Build/Publish Documentation Container Image to GHCR

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Tag for the container image"
        required: true
        default: "latest"

jobs:
  publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build and push
        run: |
          docker build \
            --file docs-site/Containerfile \
            --tag ghcr.io/dotkube/kubesqlserver-operator/docs:latest \
            --tag ghcr.io/dotkube/kubesqlserver-operator/docs:${{ inputs.image_tag }} \
            docs-site

          docker push ghcr.io/dotkube/kubesqlserver-operator/docs:latest
          docker push ghcr.io/dotkube/kubesqlserver-operator/docs:${{ inputs.image_tag }}

