name: Build/Publish Controller Container Image to GHCR

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Tag for the container image"
        required: true
        default: "latest"

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login $REGISTRY -u "${{ github.actor }}" --password-stdin

      - name: Build and push
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --file src/OperatorTemplate.Operator/Containerfile \
            --tag ghcr.io/dotkube/kubesqlserver-operator/kubesql-controller:latest \
            --tag ghcr.io/dotkube/kubesqlserver-operator/kubesql-controller:${{ inputs.image_tag }} \
            --push \
            .

